/* fonts impoted */
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Merriweather&family=Montserrat&family=Open+Sans:ital,wght@0,800;1,800&family=PT+Serif&family=Playfair+Display&family=Poppins:wght@400;500;600;700;800&family=Sacramento&family=Work+Sans:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}
button{
    cursor: pointer;
}

  /* header section style  */
  header{
    height: 7.125rem;
    padding-left: 13rem;
    padding-right: 13rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
  }
  .header-logo{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header-logo img{
    width: 5.37756rem;
    height: 2.5rem;
  }
  .header-title{
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
    color: #0B0223;
    
  }
  .primary-span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header-nav{
    display: flex;
    align-items: center;
  }

  .header-nav nav ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
  }

  .header-nav nav ul li{
    list-style: none;
  }
  .header-nav nav ul{
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .follow-us-div > p{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: auto;
    gap: 1.5rem;
    align-items: center;
  }
  .follow-us-div{
    width: 16.375rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
  }
    .follow-us-div p img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .follow-us-div p:hover{
        cursor: pointer;
    }


    /* cover container style  */
    .cover-container{
        display: flex;
        height: 43.75rem;
        justify-content: space-around;
        align-items: center;
        background: url(../images/Group\ 14.png);
        background-repeat: no-repeat;
        background-position: left;
        
    }

    .cover-heading-one{
        color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 600;
text-transform: uppercase;
    }
    .cover-heading-two{
        text-align: center;
font-size: 5.9375rem;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 1rem;
    }
    .paragraphps{
        display: flex;
        gap: 0.75rem;
        align-items: center;
        padding-top: 1rem;
    }
   
    .paragraphps > p{
        color: #534C64;
font-size: 1.25rem;
font-weight: 500;
text-transform: lowercase;
    }
    .cover-button-one{
padding: 1.1125rem 2.5rem;
border-radius: 3rem;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
color: #FFF;
font-size: 1.25rem;
font-weight: 600;
border: none;
margin-top: 2.5rem;
    }
    .cover-button-two{
        padding: 1.1125rem 2.5rem;
        border-radius: 3rem;
        background: #4EC5F7;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
        margin-top: 2.5rem;
        margin-left: 1rem;
    }

/* gamer container style  */

.gamer-container{
    height: 37.5rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-around;
    padding-left: 13rem;
    padding-right: 13rem;
    align-items: center;
}
.gamer-image-container{
    width: 54.25rem;
height: 30.5625rem;
}
.gamer-text-container{
    width: 32.5rem;
}
.gamer-heading{
    text-align: right;
font-size: 3rem;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 1.5rem;
}
.gamer-description{
    color: #534C64;
text-align: right;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.875rem; 
margin-bottom: 2rem;
}
.gamer-btn{
    text-align: right;
}
.gamer-button{
    
    padding: 1.1125rem 2.5rem;
border-radius: 3rem;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
color: #FFF;
font-size: 1.25rem;
font-weight: 600;
border: none;
}
.gamer-text{
    text-align: right;
    margin-top: 1rem;
    color: #534C64;
font-size: 1.5rem;
font-weight: 500;
line-height: 2.8125rem;

}
.ellipse-text{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 32.5rem;
    
}
.gamer-span{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8125rem;
}

/* online game section style  */


#game-card-one{
    background-color: #4EC5F7;
    width: 21.375rem;
height: 30rem;
border-radius: 1rem;
background: url(../images/Rectangle\ 4.png);
background-repeat: no-repeat;

}
#game-card-two{
    width: 21.375rem;
height: 30rem;
border-radius: 1rem;
background: url(../images/Rectangle\ 5.png);
background-repeat: no-repeat;

}
#game-card-three{
    width: 21.375rem;
height: 30rem;
border-radius: 1rem;
background: url(../images/Rectangle\ 7.png);
background-repeat: no-repeat;

}
#game-card-four{
    width: 21.375rem;
height: 30rem;
border-radius: 1rem;
background: url(../images/Rectangle\ 6.png);
background-repeat: no-repeat;

}
.online-game-headings{
    text-align: center;
    margin-top: 5rem;
}
.online-game-heading{
    color: #0B0223;
font-size: 3rem;
font-weight: 700;
}
.funny-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem;
font-weight: 700;
}
.online-game-description{
    margin-top: 1rem;
    color: #534C64;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
margin-bottom: 3rem;
}

.online-game-card-container{
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding-left: 13rem;
    padding-right: 13rem;
}
.card-paragraph{
    padding-top: 1rem;
    color: #534C64;
font-size: 1.25rem;
font-weight: 500;
line-height: 1.875rem; /* 150% */
width: 21.375rem;
}
.overlay-watch{
    text-align: center;
font-size: 1.25rem;
font-weight: 600;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.overlay{
    width: 21.375rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   opacity: 0;
   border-radius: 1rem;
  transition: .5s ease;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}

/* hover effect */
#game-card-one:hover .overlay{
    opacity: 1;
    cursor: pointer;
    
}
#game-card-two:hover .overlay{
    opacity: 1;
    cursor: pointer;
}
#game-card-three:hover .overlay{
    opacity: 1;
    cursor: pointer;
}
#game-card-four:hover .overlay{
    opacity: 1;
    cursor: pointer;
}

/* play instant style  */
.play-instant{
    margin-top: 6rem;
    height: 46rem;
    padding-left: 26.69rem;
    padding-right: 16rem;
}
.play-instant-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instant-text-container{
    height: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.play-instant-heading{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
    text-align: right;
}
.play-instant-span{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem; /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instant-description{
    width: 22.0625rem;
    color: #534C64;
text-align: right;
font-size: 1.125rem;
padding-right: 10px;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
}
.side-img img{
    position: relative;
    right: 150px;
    bottom: 280px;
    border-radius: 0.5rem;
}


/* play online style  */

.play-online{
    margin-top: 6rem;
    height: 46rem;
    padding-left: 13rem;
    padding-right: 16rem;
}
.play-online-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-online-text-container{
    height: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.play-online-heading{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
    text-align: left;
}
.play-online-span{
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem; /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-online-description{
    width: 22.0625rem;
    color: #534C64;
text-align: left;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
padding-right: 43px;
}
.play-online-image-container{
    padding-left: 3.5rem;
}
.online-side-img img{
    position: relative;
    left: 550px;
    bottom: 260px;
    border-radius: 0.5rem;
}

/* carrer-section style  */
.carrer-section{
    margin-top: 7rem;
    height: 51.3125rem;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-container{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 13rem;
}
.career-heading{
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem; /* 125% */
}
.career-description{
    width: 42.5rem;
    color: #FFF;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}
.left-right-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.left-right-text ul li{
    list-style: none;
}
.unorder-left{
    color: #FFF;
font-size: 1.25rem;
font-weight: 500;
line-height: 2.5rem; /* 200% */
}
.unorder-two{
    color: #FFF;
text-align: right;
font-size: 1.25rem;
font-weight: 500;
line-height: 2.5rem; /* 200% */
}
.career-button{
padding: 1.3125rem 2.5rem;
gap: 0.625rem;
border-radius: 3rem;
background: #FFF;
font-size: 1.25rem;
font-weight: 500;
color: #FF42A5;
border: none;
}

/* feature section style  */

.feature-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 26.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.feature-container{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 13rem;
    padding-right: 13rem;
    gap: 20px;
}
.feature-card{
height: 5rem;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
border-radius: 3.125rem;
background: #FFF;
gap: 0.7rem;
}
.feature-card-title{
    color: #0B0223;
font-size: 1.25rem;
font-weight: 600;
}
#feature-card-1{
    width: 15.1875rem;
}
#feature-card-2{
    width: 17.5625rem;
}
#feature-card-3{
    width: 15.5rem;
}
#feature-card-4{
    width: 18.4375rem;
}
#feature-card-5{
    width: 14.4375rem;
}
#feature-card-6{
    width: 18.6875rem;
    position: relative;
    left: 150px;
}
#feature-card-7{
    width: 19.8125rem;
    position: relative;
    left: 150px;
}
#feature-card-8{
    width: 15.25rem;
    position: relative;
    left: 150px;
}
#feature-card-9{
    width: 16.375rem;
    position: relative;
    left: 150px;

}
.feature-card:hover{
    border-radius: 3.125rem;
background: #FFF;
border: 1px solid #FF42A5 ;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: pointer;
}

/* footer style  */

footer{
    height: 39.75rem;
    background: #0B0223;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.footer-heading{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.footer-container img{
    width: 5.37756rem;
height: 2.5rem;
}
.footer-span{
    text-align: center;
font-size: 2.8125rem;
font-weight: 700;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.footer-title{
    color: #FFF;
font-size: 2.8125rem;
font-weight: 700;
}
.footer-list-1 li a{
    text-decoration: none;
    color: #FFF;
font-size: 1.125rem;
font-weight: 600;
}
.footer-list-1 li{
    list-style: none;
}
.footer-list-1{
    display: flex;
    gap: 3.75rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    justify-content: center;
}

.footer-list-2{
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
    justify-content: center;
}
.footer-list-3 li a{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}
.footer-list-3 li{
    list-style: none;
}
.footer-list-3{
    display: flex;
    gap: 3.75rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    justify-content: center;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 1rem;
font-weight: 500;
}



/* responsive for mobile device */
@media screen and (max-width: 576px) {
    
 /* header section style  */
 header{
    height: 20.125rem;
    padding-left: 0rem;
    padding-right: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem; 
    box-shadow: none;
  }
  .header-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .header-nav nav ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }


    /* cover container style  */
    .cover-container{
        display: flex;
        flex-direction: column-reverse;
        height: 63.75rem;
        justify-content: center;
        align-items: center;
        background: none;
        margin-top: 0;
        gap: 20px;
        
    }
    .cover-image-container img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .cover-text-container{
        width: 75%;
        height: 400px;
        padding-top: 60px;
        margin-left: auto;
        margin-right: auto;
        background: url(../images/try2.png);
        background-repeat: no-repeat;
    }

    .cover-heading-one{
    font-size: 1.8rem;
    }
    .cover-heading-two{
        text-align: center;
font-size: 4rem;
    }
    .paragraphps{
        display: flex;
        gap: 0.75rem;
        align-items: center;
        padding-top: 0.55rem;
        padding-left: 45px;
    }
   
    .paragraphps > p{
font-size: 0.8rem;
    }
.cover-button{
    display: flex;
    padding-left: 40px;
}
    .cover-button-one{
padding: 0.5rem 1rem;
font-weight: 500;
margin-top: 2rem;
    }
    .cover-button-two{
        padding: 0.5rem 1rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-left: 1rem;
    }
/* gamer container style  */

.gamer-container{
    height: 30.5rem;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
}
.gamer-image-container{
    width: auto;
height: auto;
}
.game-img{
    width: 400px;
}
.gamer-text-container{
    width: 80%;
}
.gamer-heading{
    text-align: center;
font-size: 2rem;
}
.gamer-description{
text-align: center;
font-size: 0.8rem;
line-height: 1.1rem; 
}
.gamer-btn{
    text-align: center;
}
.gamer-text{
    text-align: center;
    margin-top: 1rem;
font-size: 1.2rem;
line-height: 1.8125rem;

}
.ellipse-text{
    text-align: center;
    width: auto;
    
}
.gamer-span{
    text-align: center;
    /* color: #534C64; */
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8125rem;
}

/* online game section style  */


#game-card-one{
    width: 21.375rem;
height: 29rem;

}
#game-card-two{
    width: 21.375rem;
height: 29rem;

}
#game-card-three{
    width: 21.375rem;
height: 29rem;

}
#game-card-four{
    width: 21.375rem;
height: 29rem;

}

.online-game-headings{
    text-align: center;
    margin-top: 5rem;
}
.online-game-heading{
font-size: 1.5rem;
font-weight: 700;
}
.funny-span{
font-size: 1.5rem;
}
.online-game-description{
font-size: 0.8rem;
line-height: 1.1rem; 
margin-bottom: 3rem;
}


.online-game-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-left: 0;
    padding-right: 0;
}
.card-paragraph{
    padding-top: 1rem;
    font-size: 0.8rem;
    line-height: 1rem; 
    width: 21.375rem;
}


/* play instant style  */
.play-instant{
    margin-top: 2rem;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}
.play-instant-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-instant-text-container{
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.play-instant-heading{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.play-instant-span{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem; 
}
.play-instant-description{
    width: 80%;
text-align: center;
font-size: 1rem;
padding-right: 0;
font-weight: 400;
line-height: 1.1rem; 
}
.play-instant-image-container{
    text-align: right;
    margin-right: 40px;
}
.play-instant-img{
    width: 70%;
    margin-top: 50px;
}
.side-img img{
    width: 35%;
    right: 180px;
    bottom: 100px;
}


/* play online style  */

.play-online{
    margin-top: 1em;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}
.play-online-container{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.play-online-text-container{
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.play-online-heading{
   font-size: 2rem;
   line-height: 2rem;
   margin-bottom: 1.5rem;
   text-align: center;
}
.play-online-span{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem; 
}

.play-online-description{
    width: 80%;
text-align: center;
font-size: 1rem;
padding-right: 0;
font-weight: 400;
line-height: 1.1rem; /* 166.667% */
}
.play-online-image-container{
    text-align: left;
    margin-right: 40px;
}
.play-online-img{
    width: 70%;
    margin-top: 50px;
}
.online-side-img img{
    width: 35%;
    /* position: relative; */
    left: 170px;
    bottom: 100px;
    /* border-radius: 0.5rem; */
}



/* carrer-section style  */
.carrer-section{
    margin-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    padding-top: 15px;
    /* background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%); */
}

.career-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 0;
}
.career-heading{
    /* color: #FFF; */
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.75rem; /* 125% */
}
.career-description{
    width: auto;
font-size: 0.7rem;
font-weight: 400;
line-height: 1rem; /* 166.667% */
margin-top: 1rem;
}
.left-right-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.left-right-text ul li{
    list-style: none;
}
.unorder-left{
    color: #FFF;
font-size: 0.6rem;
font-weight: 500;
line-height: 1.2rem; /* 200% */
}
.unorder-two{
    color: #FFF;
text-align: right;
font-size: 0.6rem;
font-weight: 500;
line-height: 1.2rem; /* 200% */
}
.career-button{
padding: 0.5rem 1.5rem;
gap: 0.625rem;
border-radius: 3rem;
background: #FFF;
font-size: 0.8rem;
font-weight: 500;
color: #FF42A5;
border: none;
}
.career-image-container{
    padding-left: 10%;
    padding-right: 10%;

}
.career-image-container img{
    width: 90vw ;
    margin-top: 15px;
    margin-bottom: 25px;

}

/* feature section style  */

.feature-section{
    /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */
    height: 26.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.feature-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    gap: 2px;
}
.feature-card{
height: 3rem;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
border-radius: 3.125rem;
background: #FFF;
gap: 0.5rem;
}
.feature-card-title{
    color: #0B0223;
font-size: 0.6rem;
font-weight: 500;
}
#feature-card-1{
    width: 7.4375rem;
}
#feature-card-1 img{
    width: 1.5rem;
}
#feature-card-2{
    width: 7.4375rem;
}
#feature-card-2 img{
    width: 1.5rem;
}
#feature-card-3{
    width: 7.4375rem;
}
#feature-card-3 img{
    width: 1.5rem;
}
#feature-card-4{
    width: 7.4375rem;
}
#feature-card-4 img{
    width: 1.5rem;
}
#feature-card-5{
    width: 7.4375rem;
}
#feature-card-5 img{
    width: 1.5rem;
}
#feature-card-6{
    width: 7.4375rem;
    position: relative;
    left: 0px;
}
#feature-card-6 img{
    width: 1.5rem;
}
#feature-card-7{
    width: 7.4375rem;
    position: relative;
    left: 0px;
}
#feature-card-7 img{
    width: 1.5rem;
}
#feature-card-8{
    width: 7.4375rem;
    position: relative;
    left: 0px;
}
#feature-card-8 img{
    width: 1.5rem;
}
#feature-card-9{
    width: 7.4375rem;
    position: relative;
    left: 0px;

}
#feature-card-9 img{
    width: 1.5rem;
}
.feature-card:hover{
    border-radius: 3.125rem;
background: #FFF;
border: 1px solid #FF42A5 ;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: pointer;
}

/* footer style  */

footer{
    height: 39.75rem;
    /* background: #0B0223; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.footer-heading{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.footer-container img{
    width: 5.37756rem;
height: 2.5rem;
}
.footer-span{
    text-align: center;
font-size: 2.8125rem;
font-weight: 700;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.footer-title{
    color: #FFF;
font-size: 2.8125rem;
font-weight: 700;
}
.footer-list-1 li a{
    text-decoration: none;
    color: #FFF;
font-size: 0.8rem;
font-weight: 600;
}
.footer-list-1 li{
    list-style: none;
}
.footer-list-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.footer-list-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 4rem;
    justify-content: center;
    justify-items: center;
}
.footer-list-3 li a{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: none;
}
.footer-list-3 li{
    list-style: none;
}
.footer-list-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    justify-items: center;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 0.7rem;
font-weight: 500;
}

}

/* responsive for tablet device */


/* responsive for mobile device */
@media screen and (min-width: 576px) and (max-width: 768px) {
    
    /* header section style  */
    header{
       height: 20.125rem;
       padding-left: 0rem;
       padding-right: 0rem;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-top: 2rem; 
       box-shadow: none;
     }
     .header-nav{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 2rem;
     }
     .header-nav nav ul{
       display: flex;
       flex-direction: column;
       gap: 2rem;
       align-items: center;
     }
   
   
       /* cover container style  */
       .cover-container{
           display: flex;
           flex-direction: column-reverse;
           height: 63.75rem;
           justify-content: center;
           align-items: center;
           background: none;
           margin-top: 0;
           gap: 20px;
           
       }
       .cover-image-container img{
           width: 80%;
           margin-left: 10%;
           margin-right: 10%;
       }
       .cover-text-container{
           width: 100%;
           height: 400px;
           padding-top: 60px;
           margin-left: auto;
           margin-right: auto;
           background: url(../images/try2.png);
           background-repeat: no-repeat;
           background-position: center;
       }
   
       .cover-heading-one{
       font-size: 2rem;
       }
       .cover-heading-two{
           text-align: center;
   font-size: 5rem;
       }
       .paragraphps{
           display: flex;
           gap: 0.75rem;
           margin-left: 190px;
           align-items: center;
           padding-top: 0.55rem;
           padding-left: 45px;
       }
      
       .paragraphps > p{
   font-size: 0.8rem;
       }
   .cover-button{
       display: flex;
       padding-left: 40px;
       margin-left: 200px;
   }
       .cover-button-one{
   padding: 0.5rem 1rem;
   font-weight: 500;
   /* border: none; */
   margin-top: 2rem;
       }
       .cover-button-two{
           padding: 0.5rem 1rem;
           font-weight: 500;
           margin-top: 2rem;
           margin-left: 1rem;
       }
   /* gamer container style  */
   
   .gamer-container{
       height: 30.5rem;
       background: none;
       display: flex;
       justify-content: space-around;
       padding-left: 0;
       padding-right: 0;
       align-items: center;
   }
   .gamer-image-container{
       width: auto;
   height: auto;
   }
   .game-img{
       width: 400px;
   }
   .gamer-text-container{
       width: 80%;
       padding-right: 10px;
   }
   .gamer-heading{
       text-align: center;
   font-size: 2rem;
   text-align: right;
   }
   .gamer-description{
   text-align: right;
   font-size: 0.8rem;
   line-height: 1.1rem; 
   }
   .gamer-btn{
       text-align: right;
   }
   .gamer-text{
       text-align: right;
       margin-top: 1rem;
   font-size: 1.2rem;
   line-height: 1.8125rem;
   
   }
   .ellipse-text{
       text-align: right;
       width: auto;
       
   }
   .gamer-span{
       text-align: center;
       /* color: #534C64; */
       font-size: 1rem;
       font-weight: 700;
       line-height: 1.8125rem;
   }
   
   /* online game section style  */
   
   
   #game-card-one{
       width: 21.375rem;
   height: 29rem;
   
   }
   #game-card-two{
       width: 21.375rem;
   height: 29rem;
   
   }
   #game-card-three{
       width: 21.375rem;
   height: 29rem;
   
   }
   #game-card-four{
       width: 21.375rem;
   height: 29rem;
   
   }
   
   .online-game-headings{
       text-align: center;
       margin-top: 1rem;
   }
   .online-game-heading{
   font-size: 2rem;
   font-weight: 700;
   }
   .funny-span{
   font-size: 1.5rem;
   }
   .online-game-description{
   font-size: 0.8rem;
   line-height: 1.1rem; 
   margin-bottom: 3rem;
   }
   
   
   .online-game-card-container{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       /* flex-direction: column; */
       justify-items: center;
       align-items: center;
       text-align: center;
       gap: 1rem;
       padding-left: 0;
       padding-right: 0;
   }
   .card-paragraph{
       padding-top: 1rem;
       font-size: 0.8rem;
   line-height: 1rem; 
   width: 21.375rem;
   }

   
   /* play instant style  */
   .play-instant{
       margin-top: 2rem;
       height: auto;
       padding-left: 0;
       padding-right: 0;
   }
   .play-instant-container{
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   
   .play-instant-text-container{
       text-align: center;
       height: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 10px;
   }
   
   .play-instant-heading{
       font-size: 2rem;
       line-height: 2rem;
       margin-bottom: 1.5rem;
       text-align: center;
   }
   .play-instant-span{
       text-align: center;
       font-size: 2rem;
       font-weight: 700;
       line-height: 2rem; 
   }
   .play-instant-description{
       width: 80%;
    text-align: center;
    font-size: 1rem;
    padding-right: 0;
    font-weight: 400;
    line-height: 1.1rem; 
   }
   .play-instant-image-container{
       text-align: right;
       margin-right: 40px;
   }
   .play-instant-img{
       width: 70%;
       margin-top: 50px;
   }
   .side-img img{
       width: 35%;
       right: 340px;
       bottom: 170px;
   }
   
   
   /* play online style  */
   
   .play-online{
       margin-top: 1rem;
       height: auto;
       padding-left: 0;
       padding-right: 0;
   }
   .play-online-container{
       text-align: center;
       display: flex;
       flex-direction: column-reverse;
       justify-content: center;
       align-items: center;
   }
   
   .play-online-text-container{
       text-align: center;
       height: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 10px;
   }
   
   .play-online-heading{
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
      text-align: center;
   }
   .play-online-span{
       text-align: center;
       font-size: 2rem;
       font-weight: 700;
       line-height: 2rem; 
   }
   
   .play-online-description{
       width: 80%;
        text-align: center;
        font-size: 1rem;
        padding-right: 0;
        font-weight: 400;
        line-height: 1.1rem; 
   }
   .play-online-image-container{
       text-align: left;
       margin-right: 40px;
   }
   .play-online-img{
       width: 70%;
       margin-top: 50px;
   }
   .online-side-img img{
       width: 35%;
       left: 340px;
       bottom: 170px;
   }
   
   
   
   /* carrer-section style  */
   .carrer-section{
       margin-top: 1rem;
       padding-left: 10%;
       padding-right: 10%;
       height: auto;
       padding-top: 15px;
       
   }
   
   .career-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
   }
   .career-heading{
       font-size: 2rem;
       font-weight: 600;
       line-height: 2.75rem; 
   }
   .career-description{
       width: auto;
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1rem; 
        margin-top: 1rem;
   }
   .left-right-text{
       display: flex;
       justify-content: space-between;
       margin-bottom: 1.5rem;
   }
   .left-right-text ul li{
       list-style: none;
   }
   .unorder-left{
       color: #FFF;
   font-size: 0.6rem;
   font-weight: 500;
   line-height: 1.2rem; /* 200% */
   }
   .unorder-two{
       color: #FFF;
   text-align: right;
   font-size: 0.6rem;
   font-weight: 500;
   line-height: 1.2rem; /* 200% */
   }
   .career-button{
   padding: 0.5rem 1.5rem;
   gap: 0.625rem;
   border-radius: 3rem;
   background: #FFF;
   font-size: 0.8rem;
   font-weight: 500;
   color: #FF42A5;
   border: none;
   }
   .career-image-container{
       padding-left: 10%;
       padding-right: 10%;
   
   }
   .career-image-container img{
       width: 90vw ;
       margin-top: 15px;
       margin-bottom: 25px;
   
   }
   
   /* feature section style  */
   
   .feature-section{
       height: 26.6875rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: center;
       
   }
   .feature-container{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       justify-items: center;
       align-items: center;
       padding-left: 0;
       padding-right: 0;
       gap: 2px;
   }
   .feature-card{
        height: 3rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3.125rem;
        background: #FFF;
        gap: 2rem;
   }
   .feature-card-title{
       color: #0B0223;
   font-size: 0.9rem;
   font-weight: 500;
   }
   #feature-card-1{
       width: 12.1875rem;
   }
   #feature-card-1 img{
       width: 1.5rem;
   }
   #feature-card-2{
    width: 12.1875rem;
   }
   #feature-card-2 img{
       width: 1.5rem;
   }
   #feature-card-3{
    width: 12.1875rem;
   }
   #feature-card-3 img{
       width: 1.5rem;
   }
   #feature-card-4{
    width: 12.1875rem;
   }
   #feature-card-4 img{
       width: 1.5rem;
   }
   #feature-card-5{
    width: 12.1875rem;
   }
   #feature-card-5 img{
       width: 1.5rem;
   }
   #feature-card-6{
    width: 12.1875rem;
    position: relative;
    left: 0px;
   }
   #feature-card-6 img{
       width: 1.5rem;
   }
   #feature-card-7{
    width: 12.1875rem;
    position: relative;
    left: 0px;
   }
   #feature-card-7 img{
       width: 1.5rem;
   }
   #feature-card-8{
    width: 12.1875rem;
    position: relative;
    left: 0px;
   }
   #feature-card-8 img{
       width: 1.5rem;
   }
   #feature-card-9{
    width: 12.1875rem;
    position: relative;
    left: 0px;
   
   }
   #feature-card-9 img{
       width: 1.5rem;
   }
   .feature-card:hover{
       border-radius: 3.125rem;
        background: #FFF;
        border: 1px solid #FF42A5 ;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
   }
   
   /* footer style  */
   
   footer{
       height: 39.75rem;
       /* background: #0B0223; */
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: center;
       
   }
   .footer-heading{
       display: flex;
       align-items: center;
       gap: 10px;
       justify-content: center;
   }
   .footer-container img{
       width: 5.37756rem;
   height: 2.5rem;
   }
   .footer-span{
       text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
   .footer-title{
       color: #FFF;
        font-size: 2.8125rem;
        font-weight: 700;
   }
   .footer-list-1 li a{
       text-decoration: none;
       color: #FFF;
        font-size: 1rem;
        font-weight: 600;
   }
   .footer-list-1 li{
       list-style: none;
   }
   .footer-list-1{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 1rem;
       margin-top: 3.5rem;
       margin-bottom: 3.5rem;
       justify-content: center;
       align-items: center;
       justify-items: center;
   }
   
   .footer-list-2{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 1rem;
       margin-bottom: 4rem;
       justify-content: center;
       justify-items: center;
   }
   .footer-list-3 li a{
       color: rgba(255, 255, 255, 0.60);
       text-align: center;
       font-size: 1rem;
       font-weight: 500;
       text-decoration: none;
   }
   .footer-list-3 li{
       list-style: none;
   }
   .footer-list-3{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 1rem;
       
       margin-top: 3.5rem;
       margin-bottom: 2rem;
       justify-content: center;
       justify-items: center;
   }
   .copyright{
       color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-size: 0.8rem;
        font-weight: 500;
   }
   
   }

 button:hover{
    background-color: #3C354F;
}